<h1>Simple text version of update mail</h1>
<h3> A <%= @user2.class.to_s %> has been Updated. </h3>
<% @user2.attributes.each do |attr_key, attr_value| %>
  <%= attr_key %> = <%= attr_value %>
<% end %>
