<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <style>
        .center {
            height: 100vh;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        h1 {
            font-size: 80px;
        }

        .wave {
            animation: waveHand 2.5s infinite;
            display: inline-block;
            transform-origin : 60% 60%
        }

        @keyframes waveHand {
            0% {
                transform: rotate(0.0deg)
            }

            100% {
                transform: rotate(14.0deg)
            }
            /* Smooth Transition */
            20% {
                transform: rotate(-8.0deg)
            }

            30% {
                transform: rotate(14.0deg)
            }

            40% {
                transform: rotate(-4.0deg)
            }

            50% {
                transform: rotate(10.0deg)
            }

            60% {
                transform: rotate(0.0deg)
            }

            100% {
                transform: rotate(0.0deg)
            }
        }
    </style>
</head>

<body>
    <div class="center">
        <h1> <span class="wave">&#128075;</span> Hello Simform <span class="wave">&#128075;</span> </h1>
    </div>
</body>

</html>